- Los * son datos agregados, se deben contar.
- Las columnas vacias significan que no se contesto absolutamente nada, pero son un problema que se debe contar.
- Ambas partes de la hoja del calculo son el mismo, realizado en diferentes momentos

In [1]:
import pandas as pd

### Crear df de datos

In [2]:
meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio"]
hojas = ["ATC", "Encuesta salida"]
dfs = {}

In [3]:
for mes in meses:
    filename = f"c_{mes}_2025.xlsx"
    xlsx = pd.ExcelFile(f'./datos_crudos/{filename}', engine='openpyxl')
    
    for hoja in hojas:
        df = pd.read_excel(xlsx, hoja)
        key = f"{mes.lower()}_{hoja.lower().replace(' ', '_')}"
        dfs[key] = df

In [4]:
dfs['enero_atc'].head(14)  # Display first 14 rows of the ATC sheet for January

   Calificacion                      Comentarios
0             6   Pesimo servicio en la agencia
1           NaN                          Nuevos
2           NaN                Se envia whatsapp
3           NaN                Se envia whatsapp
4           NaN                Se envia whatsapp
5           NaN                Se envia whatsapp
6           NaN                Se envia whatsapp
7           NaN                Se envia whatsapp
8           NaN                Se envia whatsapp
9           NaN                Se envia whatsapp
10          NaN                Se envia whatsapp
11          NaN                Se envia whatsapp
12           10  Solo califica, sin comentarios
13          NaN                Se envia whatsapp

In [5]:
lista_contenido = list(dfs.values())
df_completo = pd.concat(lista_contenido, ignore_index=True)
df_completo.rename(columns={'Calificacion': 'calificacion', 'Comentarios': 'comentarios'}, inplace=True)

In [6]:
df_completo[['calificacion', 'comentarios']].to_csv('comentarios_completo.csv', index=False, encoding='utf-8')